<!DOCTYPE html>
<html>
    <head>
        <title>Vita| Profile</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="images/logo/favicon/vita-favicon-color.png"/>
        <link rel="stylesheet" type="text/css" href="styles/main.css">
    </head>
<body class="profile-page">
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <!-- USER DETAILS -->
        <section class="userBanner">
            <div class="backgroundPic">
                <img id="backgroundPic" src="<%- backgroundPic %>" alt="Users background picture">
            </div>
            <div class="profilePic">
                <img id="profilePic" src="<%- profilepic %>" alt="Users profile picture">
            </div>
            <div class="userInfo">
                <h1 id="username"><%= user %></h1>
                <h3><span>0</span> Friends - <span><%= postnum %></span> Posts</h3>
            </div>
        </section>
        <!-- CREATE POST -->
        <section>
            <div class="separationLine">
                <hr>
            </div>
            <section id="createPost">
                <img class="profileIconCP" src="<%- profilepic %>" alt="users profile picture">
                <button onclick="openCreatePost()" id="createPostBtn">What's on your mind?</button>
            </section>
        <!-- CREATE POST POPUP -->
        <section id="createPostPopUp">
            <form action="/addPost" method="POST">
                <div class="postDetails">
                    <input type="text" placeholder="Title" name="title">
                    <input type="text" placeholder="Header Image" name="headerImg">
                    <select name="category">
                        <option value="news" name="News">News</option>
                        <option value="gaming">Gaming</option>
                        <option value="food & drink">Food & Drink</option>
                        <option value="sports">Sports</option>
                    </select>
                    <textarea name="description" rows="10" cols="90"></textarea>
                </div>
    
                
                <!-- <div id="editor"></div> -->
                <div class="postButtons">
                    
                    <button type="submit">Publish</but>
                </div>
            </form>
            <button onclick="closeCreatePost()" id="closeCreatePostBtn">Close</button>
        </section>
        <!-- DISPLAYS USER CREATED POSTS -->
        <section class="usersPosts">
            <% posts.forEach(function(posts) { %>
                <div class="article" id="article">
                    <div class="newsArticleImg" id="articleImg"><img onerror="this.style.display='none'" src="<%= posts.headerImg %>" alt=""></div>
                        <div class="title"><h1><%= posts.title %></h1></div>
                        <div class="category"><p><%= posts.category %></p></div>
                        <div class="description"><p><%= posts.description %></p></div>
                        <div class="articleFooter">
                            <div class="author">
                                <img src="<%- posts.authorPic %>" alt="profie picture">
                                    <p><%= posts.Author %></p>
                            </div>
                            <div>
                                <p><%= posts.published.slice(0 , 10) %></p>
                            </div>
                        </div>
                </div>
            <% }); %>
        </section>
    </main>
    <!-- FOOTER -->
    <footer>
        <%- include('../partials/footer') %>
    </footer>
    <script src="scripts/main.js"></script>
</body>
</html>